.header{
    padding: 0.25rem;
    @include ombre;
    position: relative;
    text-align: center;
    &__arrow{
      font-size: 2rem;
      position: absolute;
      left: 18rem;
      top: 2rem;
      color: black;
    }
  }